language: python
python:
  - "3.6"
  - "3.7"
  - "3.8"
# command to install dependencies
install:
  - pip install Cython
  - pip install cooltools
  - pip install .
# command to run tests
script:
  - pytest
